* {
    padding: 0;    
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgb(216, 216, 216);
}

a {
    text-decoration: none;    
}
ul {
    list-style: none;
}


header {
    background-color: #282b31;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid rgb(36, 36, 36);
}


.navbar {
    background-color: #282a30;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.logo {
    display: none;
    padding-right: 50%;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
}

.nav-links li a {
    display: block;
    padding: 10px 30px;
    font-size: 22px;
    color: rgb(209, 208, 208);
}

.nav-links li a:hover {
    background-color: rgb(83, 80, 80);
    border-radius: 10px;
    transition: all .18s;
    color:#efe;
}

.nav-links .login-button, .signup-button {
    border: 1px solid black;
    border-radius: 6px;
    color: #fff;
}


.nav-links .signup-button {
    margin-left: 10px;
    color: #fff;
}


.togglebutton {
    position: absolute;
    display: none;
    flex-direction: column;
    top: 3px;
    right: 3px;
    align-items: center;
    justify-content: center;
    padding: 25px;
    cursor: pointer;
}

.togglebutton .bar {
    height: 3px;
    width: 18px;
    background-color: black;
    margin-bottom: 4px;
}

.nav-links.responsive {
    display: flex;
}

/* welcome */

.welcome {
    background-image: url(../img/welcome.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(19, 18, 18);
}

.welcome h1 {
    font-size: 4rem;
}
.welcome h3 {
    font-size: 2rem;
}

.welcome h1,h3 {
    --color: rgb(117, 117, 117);
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px var(--color), 0 0 30px var(--color), 0 0 40px var(--color), 0 0 55px var(--color), 0 0 75px var(--color);
}
  
.welcome .start {
    padding: 7px 10px;
    margin-top: 20px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
}
/* container */

.container {
    width: 50%;
    margin: 50px auto;
}
.container h1, p {
    text-align: center;
}

.container hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.container .error {
    padding: 7px 10px;
    background-color: red;
    color: white;
    border-radius: 10px;
    width: 60%;
    opacity: 0.9;
    margin: 15px auto;
}


.form-container {
    padding: 16px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.form-container input, select {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.form-container input:focus, select:focus  {
    background-color: #ddd;
    outline: none;
}

.form-container .terms {
    margin: 0 auto;
    margin-bottom: 6px;
}

.form-container .form-button {
    color: white;
    background-color: rgb(98, 98, 98) ;
    padding: 10px 15px;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    width: 60%;
    opacity: 0.9; 
}

.form-container .form-button:hover {
opacity: 1;
}



.form-container a {
    color: dodgerblue;
}
.form-container .log-button {
    background-color: rgb(76, 127, 175);
    color: white;
    padding: 4px 8px;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    width: 60%;
    opacity: 0.9;
}


/* Profile-table */
.profile-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
    border: 1px solid #aaa;
    margin: 0 auto;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
}

.container .profile-name {
    margin-bottom: 20px;
}

.profile-table th, td {
    text-align: center;
    padding: 8px;
}


.profile-table tr:nth-child(even) {
    background-color: #dddddd;
}
.profile-table tr:nth-child(odd) {
    background-color: #eeeeee;
}

.container .command-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto 45px;
}

.command-panel .button {
    color: white;
    background-color: rgb(98, 98, 98) ;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    width: 200px;
    text-align: center;
    border: 1px solid black;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    border-radius: 6px;
}

.command-panel .button:hover {
    background-color: rgb(119, 119, 119);
    transition: all .18s;
    color:#efe;
    border: 1px solid rgb(70, 70, 70);
}

@media screen and (max-width:925px) {
    header {
        display: none;
    }

    .logo { 
        display: block;
    }
    
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        background-color: #282a30;  
        padding: 10px;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        padding: 0;
        display: none;
    }

    .nav-links li {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .nav-links li a {
        padding: 10px;
    }

    .nav-links li a:hover {
        background: transparent;
    }
    
    .togglebutton {
        display: flex;
    }
      
    .form-container {
       margin: 0px auto;
       width: 95%;
    }
    
    .container {
        width: 100%;
    }
    .profile-table {
        width: 70%;
    }

    .command-panel .button {
        border-radius: 0;
        border-left: none;
    }
}

