* {
    padding: 0;    
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    background: #ebe8e8;
}

a {
    text-decoration: none;    
}
ul {
    list-style: none;
}


/* Scrollbaar */
/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #d6d4d4;
}
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #282b31;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #33363b;
}

/* Header */
header {
    background-color: #282b31;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid rgb(36, 36, 36);
}

/* Navbar */
.navbar {
    background-color: #282a30;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.logo {
    display: none;
    padding-right: 50%;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
}

.nav-links li a {
    display: block;
    padding: 10px 30px;
    font-size: 22px;
    color: rgb(235, 235, 235);
}

.nav-links li a:hover {
    background-color: rgb(83, 80, 80);
    border-radius: 6px;
    transition: all .18s;
    color:#efe;
}

.nav-links .login-button, .signup-button, .profile-button, .logout-button {
    border: 2px solid black;
    border-radius: 6px;
    color: #fff;
}

.nav-links .signup-button, .logout-button {
    margin-left: 10px;
    color: #fff;
    border-color: #fff;
}

.togglebutton {
    position: absolute;
    display: none;
    flex-direction: column;
    top: 3px;
    right: 3px;
    align-items: center;
    justify-content: center;
    padding: 25px;
    cursor: pointer;
}

.togglebutton .bar {
    height: 3px;
    width: 18px;
    background-color: black;
    margin-bottom: 4px;
}

.nav-links.responsive {
    display: flex;
}

/* Welcome */
.welcome {
    background-image: url(../img/welcome.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome h1 {
    font-size: 4rem;
}
.welcome h3 {
    font-size: 2rem;
}
.welcome h1,h3 {
    --color: rgb(214, 211, 211);
    text-shadow: 10px 0 15px #FFF, -10px 0 15px #FFF, 0 0 35px var(--color), 0 0 55px var(--color);
}
  
.welcome .start-button {
    padding: 7px 10px;
    margin-top: 20px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
}
.welcome .start-button:hover {
    background-color: rgba(168, 164, 164, 0.2);
}

/* Container */
.container {
    width: 50%;
    margin: 50px auto;
}

.container h1 {
    text-align: center;
}

.container .line {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.container .error {
    padding: 7px 10px;
    background-color: red;
    color: white;
    border-radius: 10px;
    width: 60%;
    opacity: 0.9;
    margin: 15px auto;
}

.container .success {
    padding: 7px 10px;
    background-color: rgb(9, 114, 0);
    color: white;
    border-radius: 10px;
    width: 60%;
    opacity: 0.9;
    margin: 15px auto;
}

.form-container {
    padding: 16px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-container input, select {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.form-container input:focus, select:focus  {
    background-color: #ddd;
    outline: none;
}

.form-container .terms {
    margin: 10px auto;
}

.form-container .form-button {
    color: white;
    background-color: #323341 ;
    padding: 10px 15px;
    margin: 0 auto;
    cursor: pointer;
    width: 60%;
    opacity: 0.9; 
}

.form-container .form-button:hover {
    opacity: 1;
}

.form-container a {
    color: #097bee;
}
.goto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-container .log-button {
    background-color: rgb(76, 127, 175);
    color: white;
    padding: 4px 8px;
    margin: 5px auto;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}

/* Profile-table */
.profile-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
    border: 1px solid #aaa;
    margin: 0 auto;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
}

.container .profile-name {
    margin-bottom: 20px;
}

.profile-table th, td {
    text-align: center;
    padding: 8px;
}

.profile-table tr:nth-child(even) {
    background-color: #dddddd;
}
.profile-table tr:nth-child(odd) {
    background-color: #eeeeee;
}

.container .command-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto 45px;
}

.command-panel .button {
    color: white;
    background-color: rgb(98, 98, 98) ;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    width: 200px;
    text-align: center;
    border: 1px solid black;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    border-radius: 6px;
}

.command-panel .button:hover {
    background-color: rgb(119, 119, 119);
    transition: all .18s;
    color:#efe;
    border: 1px solid rgb(70, 70, 70);
}
/* Formatting search box */
.search-box{
    width: 100%;
    position: relative;
    display: inline-block;
    font-size: 14px;
}
.search-box input[type="text"]{
    height: 32px;
    padding: 5px 10px;
    border: 1px solid #CCCCCC;
    font-size: 14px;
}
.result{
    position: absolute;        
    z-index: 999;
    top: 100%;
    left: 0;
}
.search-box input[type="text"], .result{
    width: 100%;
}
/* Formatting result items */
.result .item{
    padding: 7px 10px;
    border: 1px solid #CCCCCC;
    border-top: none;
    cursor: pointer;
}
.result .item:hover{
    background: #f2f2f2;
}

.result .item a{
    color: black;
}

.result .item-name {
    font-size: 18px;
    font-weight: 600;
}

@media screen and (max-width:925px) {
    header {
        display: none;
    }

    .logo { 
        display: block;
    }
    
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        background-color: #282a30;  
        padding: 10px;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        padding: 0;
        display: none;
    }

    .nav-links li {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .nav-links li a {
        padding: 10px;
    }

    .nav-links li a:hover {
        background: transparent;
        color: #bbb;
    }
    
    .togglebutton {
        display: flex;
    }
    
    .nav-links .login-button, .profile-button, .logout-button {
        border: none;
    }
    
    .nav-links .signup-button, .logout-button {
        margin: 0;
    }

    .form-container {
       margin: 0 auto;
       width: 95%;
    }
    
    .container {
        width: 100%;
    }

    .profile-table {
        width: 70%;
    }

    .command-panel .button {
        border-radius: 0;
        border-left: none;
    }
}

